$font-family-Standard: 'Old Standard TT', serif;
$font-family-Roboto: 'Roboto', sans-serif;
$bold: 700;
$regular: 400;
$light: 300;
$color_write: #ffffff;
$font-size-general: 16px;
$font-size-item: 20px;
$font-size-button: 13px;
$font-size-title: 25px;
$background-color-general: #2E3345;