.masters {
  height: 100vh;
  overflow: auto;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media(max-width: 745px) {
      justify-content: center;
    }
  }
}